/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

    .navbar-brand{
        padding:13px 15px;
    }
    #navtop{
        height:60px;
    }
    #navincont{
        background:white;
    }
    .active a{
        height:60px
    }

    #features{
        text-align:center;
    }

    #features img {
        margin:0 0 20px;
    }

/* --------------------------------------
   Typography
   -------------------------------------- */
/* --------------------------------------
   Navbar searchInput and .navbar-brand was modified in  lecture 7
   -------------------------------------- */

    .border{
     border:2px solid white
    }

#hero{
    margin: 0px -15px;
    padding:0;
}
#myCarousel{
    margin-top:60px;
    margin-left:11px;
    margin-right: 11px;
}
#myCarousel .item{
    height:600px;
}
#myCarousel .item h4{
    color:white;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 3px 3px 3px  black;
    font-size: 22px;
}
#myCarousel .item p{
    color:white;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 2px 2px 2px  black;
    font-size: 17px;
}

#slide1{
    background:url('../../images/slide1.jpg') center no-repeat;
}
#slide2{
    background:url('../../images/slide2.jpg') center no-repeat;
}
#slide3{
    background:url('../../images/slide3.jpg') center no-repeat;
}
#video{
    background: url('../../images/w2.jpg') center no-repeat;
    height:400px;
    margin-left:15px;
    width:97%;
}

#video h3{
    position:absolute;
    top:80%;
    right:70%;
    color:black;


}
.textshadow{
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1px 1px  black;
}
.textshadow1{
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1px 1px  black;
    color:white;
    position:absolute;;
    top:30%;
    left:35%;
    font-size:60px;
}
.videobtn{
    position:absolute;
    top:80%;
    left:90%;
    color:#5cb85c;
    background: white;
}

    #modal{
        width:100%;
    }


    #kate:hover {
        opacity:0.5;
    }
    .textshadow1{
        display:none;
    }
    #kate:hover .textshadow1{
        display:block;
    }
    i{
        position:absolute;
        right:25%;
    }
    .i2{
            margin-top:5px;
    }
    .i3{
            margin-top:5px;
    }
/* --------------------------------------
   Carousel
   -------------------------------------- */


/* --------------------------------------
   Global Styles
   -------------------------------------- */


/* --------------------------------------
   Media Queries
   -------------------------------------- */



/* Portrait & landscape phone */
@media(max-width:480px){
    #myCarousel .item{ height:300px;}
    #slide1{
        background:url('../../images/slide1_small.jpg') center no-repeat;
    }
    #slide2{
        background:url('../../images/slide2_small.jpg') center no-repeat;
    }
    #slide3{
        background:url('../../images/slide3_small.jpg') center no-repeat;
    }
    #video{
        background: url('../../images/w2_small.jpg') center no-repeat;
        height:300px;
        margin-left:15px;
        margin-bottom:10px;
        width:86%;
    }
    #gaya{
        height:100px;
        width:250px;
    }
    #video h3{
        margin-top:10px;
        right:60%;
    }
    .videobtn{
        left:70%
    }
    #kate{
        background: url('../../images/combined-xs.jpg') top center no-repeat;
        height:100px;
        width:290px;
    }
    .textshadow1{
        font-size: 10px;
    }

}
/* Landscape phone to portrait tablet */
@media(min-width:481px) and (max-width:768px){
    #myCarousel .item{ height:310px;}
    #slide1{
        background:url('../../images/slide1_small.jpg') center no-repeat;
    }
    #slide2{
        background:url('../../images/slide2_small.jpg') center no-repeat;
    }
    #slide3{
        background:url('../../images/slide3_small.jpg') top center no-repeat;
    }
    #video{
        background: url('../../images/w2_small.jpg') center no-repeat;
        height:400px;
        margin-left:15px;
        width:97%;
    }
    #gaya{
        width:540px;
    }
    #video h3{
        margin-top:10px;
        right:60%;
    }
    .videobtn{
        left:80%
    }
    #kate{
        background: url('../../images/combined-small.jpg') top center no-repeat;
        height:200px;
    }
    .textshadow1{
        font-size: 20px;
    }


}
@media(min-width:769px) and (max-width:991px){
    #myCarousel .item{ height:600px;}
    #slide1{
        background:url('../../images/slide1.jpg') center no-repeat;
    }
    #slide2{
        background:url('../../images/slide2.jpg') center no-repeat;
    }
    #slide3{
        background:url('../../images/slide3.jpg') top center no-repeat;
    }
    #video{
        background: url('../../images/w2.jpg') center no-repeat;
        height:400px;
        margin-left:15px;
        width:97%;
    }
    #gaya{
        width:800px;
    }
    #kate{
        background: url('../../images/combined-small.jpg') top center no-repeat;
        height:220px
    }

}
@media(min-width:992px) and (max-width:1199px){
    #myCarousel .item{ height:600px;}
    #slide1{
        background:url('../../images/slide1.jpg') center no-repeat;
    }
    #slide2{
        background:url('../../images/slide2.jpg') center no-repeat;
    }
    #slide3{
        background:url('../../images/slide3.jpg') top center no-repeat;
    }
    #video{
        background: url('../../images/w2_medium.jpg') center no-repeat;
        height:400px;
        margin-left:15px;
        width:97%;
    }
    #gaya{
        width:1000px;
    }
    #kate{
        background:url('../../images/combined.jpg') top center no-repeat;
        height:420px;
    }
    .textshadow1{
        font-size: 40px;
    }


}

/* Large desktop */

@media(min-width:1199px) and (max-width:1500px){
    #myCarousel .item{ height:600px;}
    #slide1{
        background:url('../../images/slide1.jpg') center no-repeat;
    }
    #slide2{
        background:url('../../images/slide2.jpg') center no-repeat;
    }
    #slide3{
        background:url('../../images/slide3.jpg') top center no-repeat;
    }
    #video{
        background: url('../../images/w2.jpg') center no-repeat;
        height:400px;
        margin-left:15px;
        width:97%;
    }
    #gaya{
        height:610px;
    }
    #kate{
        background:url('../../images/combined.jpg') top center no-repeat;
        height:420px;
    }

}

.cal{
    margin-left: 15px;
    margin-right: 15px;
}
footer{
    background: #e7e7e7;
}
footer li{
    list-style: none;
}
footer ul{
    padding-left:2px;
}
footer a{
    color:black;
}
